{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/details.css' %}" />
    <title>Allocation Detail</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <div class="logo">Rooms</div>
        <div class="login" id="back-button">Voltar</div>
    </header>
    <h1>Detalhes da Alocação</h1>
    <p><strong>Professor:</strong> {{ allocation.teacher }}</p>
    <p><strong>Disciplina:</strong> {{ allocation.discipline }}</p>
    <p><strong>Espaço:</strong> {{ allocation.space }}</p>
    <p><strong>Dia da Semana:</strong> {{ allocation.get_days_week_display }}</p>
    <p><strong>Horário:</strong> {{ allocation.get_timetable_display }}</p>
    <div class="options">
        <div class="optionA">
            <a class="optionAButton" href="{% url 'allocation_update' pk=allocation.pk %}">Editar</a>
            <a class="optionBButton" href="{% url 'allocation_delete' pk=allocation.pk %}">Excluir</a>
        </div>
        <div class="return">
            <a class="returnButton" href="{% url 'allocation_list' %}">Voltar</a>
        </div>
    </div>
    <script>
        $('#back-button').click(function(){
            window.history.back();
       });
    </script>
</body>
</html>