{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/delete.css' %}" />
    <title>Allocation Delete</title>
</head>
<body>
    <header>
        <div class="logo">Rooms</div>
        <div class="login">Administrador</div>
    </header>
    <h1>Confirmação de Exclusão</h1>
    <p>Você tem certeza que deseja excluir a alocação de <br> {{ allocation.teacher }} - {{ allocation.discipline }} - {{ allocation.space }} - {{ allocation.get_days_week_display }} - {{ allocation.get_timetable_display }}?<br>Esta ação não é reversível!</p>
    <form method="post">
        {% csrf_token %}
        <button class="button" type="submit">Confirmar Exclusão</button>
    </form>
    <div class="alignA">
        <a class="return" href="{% url 'allocation_list' %}">Cancelar e voltar para a lista de alocações</a>
    </div>
</body>
</html>