{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    <title>Dashboard</title>
</head>
<body>
    <header>
        <div class="logo">Rooms</div>
        <div class="login">Administrador</div>
    </header>
    <h1>Painel Administrativo</h1>
    <div class="dashboardList">
        <a class="OPA" href="{% url 'allocation_list' %}">Alocações</a><br>
        <a class="OPB" href="{% url 'discipline_list' %}">Disciplinas</a><br>
        <a class="OPC" href="{% url 'space_list' %}">Salas/Laboratórios</a><br>
        <a class="OPD" href="{% url 'teacher_list' %}">Professores</a><br>
        <a class="OPE" href="{% url 'register' %}">Usuários</a><br>
    </div>
</body>
</html>