{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/details.css' %}" />
    <title>Discipline Detail</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <div class="logo">Rooms</div>
        <div class="login" id="back-button">Voltar</div>
    </header>
    <h1>Detalhes da Disciplina</h1>
    <p><strong>Nome:</strong> {{ discipline.discipline_name }}</p>
    <p><strong>Código:</strong> {{ discipline.discipline_code }}</p>
    <p><strong>Modo de Ensino:</strong> {% if discipline.discipline_mode %}Teórica/Prática{% else %}Teórica{% endif %}</p>
    <div class="options">
        <div class="optionA">
            <a class="optionAButton" href="{% url 'discipline_update' pk=discipline.pk %}">Editar</a>
            <a class="optionBButton" href="{% url 'discipline_delete' pk=discipline.pk %}">Excluir</a>
        </div>
        <div class="return">
            <a class="returnButton" href="{% url 'discipline_list' %}">Voltar para a lista de disciplinas</a>
        </div>
    </div>
    <script>
        $('#back-button').click(function(){
            window.history.back();
       });
    </script>
</body>
</html>