{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Rooms</title>
</head>
<body>
    <header>
        <div class="logo">Rooms</div>
        <div class="login" onclick="location.href='{% url 'login' %}'">Administrador</div>
    </header>
    <main>
        <section class="apresentacao">
            <div class="opcoes">
                <div class="text">
                    <p class="slogan">Tecnologia a serviço do seu ensalamento</p>
                    <p class="subtitulo">Com esse sistema voce pode gerenciar melhor o ensalamento da sua instituição de ensino!</p>
                    <div class="buttonalign">
                        <button class="loginb" onclick="location.href='{% url 'login' %}'">Acessar como Administrador</button>
                        <button class="signup" onclick="location.href='{% url 'rooms' %}'">Acessar como Convidado</button>
                    </div>
                </div>
            </div>
            <div class="door">
                <img src="{% static 'imagens/portas.png' %}" alt="doors">
            </div>
        </section>
    </main>
</body>
</html>