{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <div class="logo">Rooms</div>
        <div class="login" id="back-button">Voltar</div>
    </header>
    <h1>Login</h1>
    <div class="loginclass">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="buttonlogin" type="submit">Entrar</button>
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </form>
    </div>
<script>
        $('#back-button').click(function(){
            window.history.back();
       });
    </script>
</body>
</html>
