{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Register</title>
</head>
<body>
    <header>
        <div class="logo">Rooms</div>
        <div class="login" id="back-button">Voltar</div>
    </header>
<h1>Registrar</h1>
<div class="errormid">
    {% if messages %}
    {% for message in messages %}
        <p style="color: red;">{{ message }}</p>
    {% endfor %}
{% endif %}
</div>
<form method="post">
    {% csrf_token %}
    <label for="username">Nome de usuário:</label>
    <input class="textclass" type="text" name="username" id="username" required><br>

    <label for="email">Email:</label>
    <input class="textclass" type="email" name="email" id="email" required><br>

    <label for="password">Senha:</label>
    <input class="textclass" type="password" name="password" id="password" required><br>

    <label for="password_confirm">Confirme a senha:</label>
    <input class="textclass" type="password" name="password_confirm" id="password_confirm" required><br>

    <button class="buttonlogin" type="submit">Registrar</button>
</form>
<script>
        $('#back-button').click(function(){
            window.history.back();
       });
    </script>
</body>
</html>
