{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/list.css' %}" />
    <title>Space List</title>
</head>
<body>
    <header>
        <div class="logo">Rooms</div>
        <div class="login" id="back-button">Voltar</div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </header>
    <h1>Lista de Espaços Físicos</h1>
    <div class="contentList">
        <ul>
            {% for space in spaces %}
                <li>{{ space.space_block }} - {{ space.space_number }} (Andar: {{ space.space_floor }}) - {% if space.space_type %}Laboratório{% else %}Sala{% endif %}
                    (<a class="options" href="{% url 'space_detail' pk=space.pk %}">Detalhes</a>)
                    (<a class="options" href="{% url 'space_update' pk=space.pk %}">Editar</a>)
                    (<a class="optionsE" href="{% url 'space_delete' pk=space.pk %}">Excluir</a>)
                </li>
            <br>
            {% empty %}
                <li>Nenhum espaço físico encontrado.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="alignA">
        <a class="return" href="{% url 'space_create' %}">Adicionar Novo Espaço Físico</a>
    </div>
<script>
        $('#back-button').click(function(){
            window.history.back();
       });
</script>
</body>
</html>