{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/list.css' %}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Teacher</title>
</head>
<body>
    <header>
        <div class="logo">Rooms</div>
        <div class="login" id="back-button">Voltar</div>
    </header>
    <h1>Lista de Professores</h1>
    <div class="contentList">
        <ul>
            {% for teacher in teachers %}
                <li>{{ teacher.first_name }} {{ teacher.last_name }} - {{ teacher.siape }}
                    (<a class="options" href="{% url 'teacher_detail' pk=teacher.pk %}">Detalhes</a>)
                    (<a class="options" href="{% url 'teacher_update' pk=teacher.pk %}">Editar</a>)
                    (<a class="optionsE" href="{% url 'teacher_delete' pk=teacher.pk %}">Excluir</a>)
                </li>
            <br>
            {% empty %}
                <li>Nenhum professor encontrado.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="alignA">
        <a class="return" href="{% url 'teacher_create' %}">Adicionar Novo Professor</a>
    </div>
<script>
        $('#back-button').click(function(){
            window.history.back();
       });
    </script>
</body>
</html>