{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/form.css' %}" />
    <title>{% if teacher.pk %}Editar{% else %}Adicionar{% endif %} Professor</title>
</head>
<body>
    <header>
        <div class="logo">Rooms</div>
        <div class="login">Administrador</div>
    </header>
<h1>{% if teacher.pk %}Editar{% else %}Adicionar{% endif %} Professor</h1>
<div class="errormid">
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
</div>
<form method="post">
    <div class="structureForm">
        <div class="formInformation">
            {% csrf_token %}
            {% if teacher.pk %}
                <input type="hidden" name="teacher_id" value="{{ teacher.pk }}">
            {% endif %}
            <label for="siape">SIAPE:</label>
            <input class="textclass" type="text" id="siape" name="siape" value="{{ teacher.siape }}"><br><br>
            <label for="first_name">Nome:</label>
            <input class="textclass" type="text" id="first_name" name="first_name" value="{{ teacher.first_name }}"><br><br>
            <label for="last_name">Sobrenome:</label>
            <input class="textclass" type="text" id="last_name" name="last_name" value="{{ teacher.last_name }}"><br><br>

        </div>
        <div class="divbutton">
            <button class="button" type="submit">{% if teacher.pk %}Salvar{% else %}Adicionar{% endif %}</button>
        </div>
    </div>
</form>
</body>
</html>
