<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher Detail</title>
</head>
<body>
    <h1>Detalhes do Professor</h1>
    <p><strong>Nome:</strong> {{ teacher.first_name }} {{ teacher.last_name }}</p>
    <p><strong>SIAPE:</strong> {{ teacher.siape }}</p>
    <a href="{% url 'teacher_update' pk=teacher.pk %}">Editar</a>
    <a href="{% url 'teacher_delete' pk=teacher.pk %}">Excluir</a>
    <a href="{% url 'teacher_list' %}">Voltar para a lista de professores</a>
</body>
</html>